.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore
.github/

.pytest_cache/
.mypy_cache/

tests/

data/
RandomForest/
models/

outputs/model/
outputs/model_v2/
outputs/model_v21/
outputs/evaluation_v2/
outputs/ablation_v2/
outputs/model_v21/

*.csv
*.xlsx
*.xls
*.parquet

requirements.txt
requirements_docker.txt

README.md

mlruns/
*.log

.DS_Store
Thumbs.db